* {
  box-sizing: border-box;
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms; }

body {
  background: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline; }

a:hover {
  color: inherit;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1.4em; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, .blue-button {
  background: black;
  border-radius: 3px;
  padding: 10px;
  color: white;
  border: none;
  width: 270px;
  min-width: 250px;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 18px; }

button:hover, .blue-button:hover {
  border-color: #666;
  background-color: #666; }

.light-button {
  background: white;
  border-radius: 3px;
  padding: 10px;
  color: black;
  border: solid 1px black;
  width: 270px;
  min-width: 250px;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 18px; }

.light-button:hover {
  background: black;
  color: white; }

.row {
  margin: 0; }

.row > div {
  padding: 10px; }

.clr {
  clear: both;
  padding: 0 !important;
  margin: 0; }

.popup {
  background: white;
  border: solid 1px #e7e8e7;
  min-width: 100%;
  z-index: 1;
  position: absolute;
  padding: 15px;
  margin-top: 10px !important;
  background: #fff;
  color: #000;
  display: none;
  text-align: center; }

.border-bottom {
  border-bottom: solid 1px #e7e8e7; }

#header {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 80px;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

#logo-header, #page-logo-header {
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  left: 50px;
  height: 79px;
  cursor: pointer;
  line-height: 79px; }

#page-logo-header {
  color: black; }

#header-nav, #page-header-nav {
  position: absolute;
  right: 10px;
  height: 79px;
  line-height: 79px; }
  #header-nav ul li, #page-header-nav ul li {
    float: left;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    box-sizing: border-box; }
  #header-nav ul li:hover, #page-header-nav ul li:hover {
    border-bottom: solid 2px #fff;
    color: #ccc; }

#page-header-nav ul li:hover {
  border-bottom: solid 2px black;
  color: #ccc; }

#header-background {
  display: table;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/header_img.jpg");
  height: 750px;
  color: white; }

#info-header {
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px; }

#info-header-text {
  display: block;
  color: #fff;
  text-align: center;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 52px;
  font-family: "Tiempos Headline", Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  line-height: 52px; }

#info-header-action {
  margin: 0 auto;
  max-width: 770px;
  border-bottom: 2px solid #000;
  position: relative;
  color: #000; }
  #info-header-action input {
    width: 100%;
    height: 75px;
    padding: 20px;
    font-family: "Harmonia Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #e7e8e7;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-transition: border 0.2s linear;
    -moz-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    transition: border 0.2s linear; }

#mobile-header-nav-icon {
  position: absolute;
  width: 30px;
  right: 25px;
  top: 25px;
  cursor: pointer;
  display: none;
  z-index: 1000; }
  #mobile-header-nav-icon img {
    width: 100%; }

#mobile-header-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: 1001;
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }
  #mobile-header-nav ul {
    padding-top: 15px;
    width: 300px;
    background: white;
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0; }
  #mobile-header-nav ul img {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    z-index: 1200; }
  #mobile-header-nav ul li {
    height: auto;
    font-size: 17px;
    padding-top: 5px;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 600;
    line-height: 30px;
    position: relative; }
  #mobile-header-nav ul.sub-menu {
    position: relative;
    margin-left: -300px; }
  #mobile-header-nav ul.sub-menu li {
    padding: 5px 25px;
    font-size: 13px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400; }

#mobile-header-nav #left-bg {
  right: 280px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; }

#home-content {
  margin: 0 auto;
  max-width: 1170;
  background: #f3f3f3; }

#exclusive-block {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center; }

#home-info {
  width: 100%;
  background: white;
  height: auto;
  margin-top: 60px; }

#home-info-action {
  padding-top: 60px; }
  #home-info-action h1 {
    font-size: 40px;
    margin: 0 auto;
    width: 80%;
    line-height: 40px;
    background: white;
    text-align: center;
    font-weight: bold;
    padding-bottom: 60px; }

#home-listing-group {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center; }

#home-info-action .group-button {
  width: 60%;
  margin: 0 auto; }
  #home-info-action .group-button li {
    width: 50%;
    display: inline-block;
    margin-left: -4px;
    border: solid 1px black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold; }
  #home-info-action .group-button li.activated {
    background: black;
    color: white; }
  #home-info-action .group-button li.activated:hover {
    background: #2F2F2F; }

.home-info-frame {
  width: 80%;
  margin: 60px auto;
  display: none; }
  .home-info-frame h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 25px; }
  .home-info-frame p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px; }

.current {
  display: block; }

.home-info-frame .frame-left {
  float: left;
  width: 50%; }
  .home-info-frame .frame-left img {
    width: 80%;
    margin-left: 10%; }

.home-info-frame .frame-right {
  float: left;
  width: 50%; }
  .home-info-frame .frame-right img {
    width: 80%;
    margin-left: 10%; }
  .home-info-frame .frame-right button, .home-info-frame .frame-right .blue-button {
    float: right; }

#home-info-link {
  width: 90%;
  margin: 60px auto; }

.group-img-link .link-block {
  width: 46%;
  height: 300px;
  margin: 1%;
  float: left;
  display: table;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../images/2015/06/IMG_7507.jpg"); }

.link-block .link-info {
  width: 80%;
  height: 150px;
  margin: 75px auto;
  background: rgba(0, 0, 0, 0.5);
  border-top: solid 1px white;
  color: white;
  text-align: center; }
  .link-block .link-info h3 {
    font-size: 30px;
    font-weight: bold;
    height: 75px;
    line-height: 75px; }

.exclusive-heading {
  font-size: 40px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 40px; }

.exclusive-text {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #848484; }

.home-listing-block {
  background: white;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
  cursor: pointer;
  float: left; }

.block-image {
  height: 380px;
  width: 575px;
  background-size: cover;
  background-position: center center;
  background-color: #f3f3f3;
  display: table;
  background-image: url("../images/2015/09/640x4802-320x300.jpg"); }

.block-info,
.block-featured,
.search-listing-block .block-featured {
  text-align: left; }

.block-featured, .search-listing-block .block-featured {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-left: 9px; }
  .block-featured div, .search-listing-block .block-featured div {
    display: inline-block;
    padding: 5px; }

.listing-block-featured {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }
  .listing-block-featured div {
    display: inline-block;
    padding: 5px; }

.block-street-info {
  padding-top: 16px;
  padding-bottom: 3px;
  font-size: 18px;
  padding-left: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700; }

.block-dir-info {
  height: 35px;
  padding-bottom: 16px;
  padding-top: 3px;
  font-size: 16px;
  padding-left: 14px;
  line-height: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400; }

#footer {
  background: black;
  min-height: 300px;
  color: #e7e8e7; }

#wrap-footer {
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 20px;
  padding: 50px 20px 50px 20px; }

.footer-info {
  border-bottom: solid 2px white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 35px;
  font-weight: 400; }

#page-header {
  width: 100%;
  position: relative;
  color: black;
  background: white;
  height: 81px; }

.agent-page-content {
  margin: 0 auto;
  max-width: 85%;
  min-height: 300px; }

.agent-page-content .block-page .row > div {
  padding: 10px; }

.block-page {
  margin-top: 50px; }

.h3-title {
  font-size: 40px;
  font-family: "Harmonia Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  line-height: 40px; }

.text-default {
  font-family: "Harmonia Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  padding: 10px;
  max-width: 70%;
  margin: 0 auto; }

.block-agent-info {
  border: 1px solid #e7e8e7;
  margin-bottom: 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  float: left;
  width: 23%;
  margin: 1%; }

.block-agent-image img {
  width: 100%; }

.block-agent-detail {
  padding: 20px 0 20px 20px;
  width: 100%;
  min-height: 150px; }

.block-agent-name {
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 20px;
  color: #000; }

.block-agent-mail {
  padding-bottom: 10px;
  line-height: 22px;
  font-size: 14px; }

.block-agent-mobile {
  color: #848484;
  font-size: 14px;
  line-height: 20px; }

.listing-page {
  position: relative; }

.contact-agent-mobile {
  margin-left: 2%;
  width: 96%;
  position: fixed;
  bottom: 15px;
  background: black;
  border-radius: 3px;
  padding: 10px;
  color: white;
  border: solid 1px white;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  display: none; }

.listing-page-content {
  background: #eee; }

.listing-silder {
  width: 100%;
  height: 420px;
  background: #eee;
  overflow: hidden; }
  .listing-silder img {
    height: 100%; }

.listing-silder-container {
  height: 100%;
  width: 100%;
  cursor: pointer; }

.listing-adress-block {
  width: 100%;
  min-height: 156px;
  background: white;
  border-bottom: solid 2px black;
  margin-bottom: 50px; }

.adress-block {
  position: relative;
  padding: 25px 15px 0 15px;
  margin: 0 auto;
  max-width: 1200px; }

.adress-info h2 {
  font-family: "Tiempos Text", Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px; }

.adress-info h1 {
  font-size: 36px;
  font-family: "Tiempos Headline", Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 600;
  min-height: 50px;
  line-height: 40px;
  word-wrap: break-word;
  margin-bottom: 5px; }

.adress-action {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  float: right; }
  .adress-action p {
    color: black;
    font-weight: bold;
    border: none;
    width: 270px;
    min-width: 250px;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    text-align: center; }

.key-style {
  font-weight: 600;
  font-size: 24px; }

.key-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; }

.overview {
  font-family: "Tiempos Text",Times,"Times New Roman",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px; }

.gray-style {
  color: #848484; }

.listing-key-detail-block {
  width: 100%;
  background: white;
  border-top: solid 1px #ccc; }

.listing-block {
  position: relative;
  padding: 25px 15px 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  border-bottom: 1px #e7e8e7 solid;
  padding: 60px 15px;
  min-height: 140px;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

.listing-agent-block {
  width: 100%;
  background: white;
  margin-top: 50px; }

.listing-agent-title {
  font-size: 40px;
  font-family: "Harmonia Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 30px;
  line-height: 40px; }

.neighborhood-img img {
  width: 100%;
  height: auto; }

.listing-agent-text {
  max-width: 768px;
  margin: 50px auto;
  color: #848484;
  text-align: center; }

.listing-agent-info {
  max-height: 172px;
  max-width: 570px;
  margin: 0 auto;
  border: 1px solid #e7e8e7;
  background-color: #fff; }
  .listing-agent-info img {
    width: 170px;
    height: 170px;
    margin-left: 0px; }
  .listing-agent-info div.agent-image {
    padding: 0; }

.listing-agent-detail {
  padding: 45px 0 15px 50px; }

.listing-agent-name {
  color: #000;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 20px;
  color: #000; }

.listing-agent-email {
  padding-bottom: 10px;
  line-height: 25px;
  color: #000; }

.listing-agent-mobile {
  line-height: 14px;
  color: #848484; }

.listing-neighborhood-block {
  width: 100%;
  background: white; }

.multi-search-block {
  width: 100%;
  min-height: 60px;
  background: #fff;
  border-bottom: solid 1px #e8e8e8;
  padding: 15px 40px;
  z-index: 200;
  position: relative; }
  .multi-search-block select, .multi-search-block .dropdown {
    height: 49px;
    width: 100%;
    border: 1px solid #e8e8e8; }
  .multi-search-block div.col-sm-3 {
    padding: 5px; }

.mobile-search-toggle {
  display: none; }

.search-action-group {
  float: left;
  width: 80%; }

.neighborh-search, .bed-search, .price-search, .more-search {
  display: inline-block;
  min-width: 15%;
  margin: 1%;
  padding: 0;
  position: relative; }

.neighborh-search input {
  cursor: auto; }

.view-toggle {
  float: right; }
  .view-toggle ul li {
    float: left;
    height: 49px;
    margin-left: 10px;
    border: 1px solid #e8e8e8;
    line-height: 29px;
    padding: 10px;
    cursor: pointer; }

.listings_results_content {
  position: relative;
  width: 100%; }

.listings_results_column {
  padding: 10px 35px 20px 35px !important;
  width: 999px;
  float: left; }

.listings_map_column {
  position: fixed;
  left: 1000px;
  right: 0;
  bottom: 0;
  top: 100px;
  z-index: 100; }

.map-multi-search {
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: #ccc; }

.dropdown {
  text-align: center;
  line-height: 49px;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px; }

.bed-checklist {
  text-align: left;
  padding: 10px;
  margin-top: 10px; }
  .bed-checklist input {
    margin-right: 10px; }

.price_selection {
  width: 300px; }
  .price_selection input {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 1px solid #e8e8e8; }
  .price_selection span {
    margin: 0 10px;
    line-height: 31px; }

.features-filters {
  width: 600px;
  max-height: 358px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto; }
  .features-filters table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
  .features-filters img {
    width: 25px;
    height: 25px;
    display: none; }

.features-filters #filter_baths li {
  float: left;
  width: 20%;
  height: 20%;
  border: 1px solid #e8e8e8;
  text-align: center; }
.features-filters #filter_baths li label {
  display: inline-block;
  text-align: center;
  color: #e8e8e8;
  padding: 10px 10px 9px;
  font-size: 16px;
  line-height: 16px; }
.features-filters #filter_baths li input {
  display: none; }

.sales_filter #min_square_footage {
  border: 1px solid #e8e8e8;
  width: 200px;
  padding: 11px;
  height: 50px; }

#filters-table > tbody > tr > td {
  padding: 12px 15px;
  border: 1px solid #efefef;
  vertical-align: top;
  text-align: left; }

.search-listing-block {
  background: white;
  border-bottom: solid 2px black;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  float: left;
  width: 290px;
  margin-right: 8px;
  margin-left: 8px; }

.search-listing-block .block-image {
  width: 100%;
  height: 190px; }

.search_filter_secondary {
  padding: 20px 0; }

.search_results_sort_by {
  height: 52px;
  width: 250px;
  border: 1px solid #e8e8e8;
  background: transparent;
  padding: 15px 55px 15px 15px; }

.search_results_sort_by_wrapper {
  float: left; }

.simple_pagination_container {
  float: right;
  height: 52px;
  line-height: 52px; }
  .simple_pagination_container ul {
    float: left;
    margin-left: 10px; }
  .simple_pagination_container ul li {
    float: left;
    width: 52px;
    height: 52px;
    border: 1px solid #e8e8e8;
    text-align: center;
    cursor: pointer; }

.search_results_stats {
  float: left; }

.wrap-single {
  background: white; }

.block-agent-single {
  width: 1200px;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 30px; }

.agent-single-image {
  width: 250px;
  height: 250px; }

.agent-single-info h1 {
  padding: 40px 0 25px 0;
  line-height: 20px;
  color: #000;
  font-size: 36px;
  font-family: "Tiempos Headline",Times,"Times New Roman",serif;
  font-style: normal; }

.agent-single-info p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; }

.agent-single-info p.mobile-text {
  color: #848484; }

.agent-single-info button, .agent-single-info .blue-button {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
  margin-top: 20px; }

.agent-single-info button:hover, .agent-single-info .blue-button:hover {
  background-color: #000;
  color: #fff; }

.agent-single-des h2 {
  font-size: 24px;
  font-family: "Harmonia Sans",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 600; }

.agent-single-des p {
  font-family: "Tiempos Text",Times,"Times New Roman",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; }

.agent-listing-block {
  float: left;
  width: 380px;
  margin: 10px;
  background: white;
  border-bottom: solid 2px black; }

.agent-listing-block .block-image {
  width: 380px;
  height: 240px; }

.agent-single-listing {
  width: 1200px;
  margin: 0 auto; }

.slider {
  width: auto;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .slider img {
    display: inline-block;
    width: auto; }

.slider-full {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 10000px;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 20000; }

#image-gallery {
  height: 100%;
  margin: 0 auto; }

.cancel-full-slider {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 56px;
  height: 56px;
  z-index: 20000;
  cursor: pointer; }

.sell-page-content {
  background: white;
  position: absolute;
  top: 82px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow: auto;
  color: #666; }
  .sell-page-content h1 {
    text-align: center;
    font-size: 42px;
    padding: 50px 10px;
    line-height: 42px; }

.first-home-info {
  width: 80%;
  margin: 0 auto;
  -webkit-animation: show 2s;
  -moz-animation: show 2s;
  -o-animation: show 2s;
  animation: show 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.first-home-info form {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 24px; }

.first-home-info form > div {
  min-height: 50px; }

.special-text-input {
  border: none;
  border-bottom: solid 1px blue;
  text-align: center; }

.special-text-input:focus {
  outline: none; }

.special-select-input {
  border: none;
  border-bottom: solid 1px blue;
  min-width: 55px; }

.special-select-input:focus {
  outline: none; }

.blue-button {
  background: #0660cc;
  margin-top: 20px; }

.sell-home-contact {
  width: 80%;
  margin: 0 auto;
  display: none;
  -webkit-animation: show 1s;
  -moz-animation: show 1s;
  -o-animation: show 1s;
  animation: show 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.sell-home-contact form {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 24px; }
  .sell-home-contact form input[type="text"] {
    border: none;
    background: #eee;
    height: 70px;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #ccc;
    font-size: 18px;
    min-width: 300px; }
  .sell-home-contact form input[type="text"]:focus {
    outline: none; }
  .sell-home-contact form input[type="submit"] {
    background: #0660cc;
    border: none;
    width: 300px;
    color: white;
    height: 70px;
    line-height: 70px;
    font-size: 18px; }

/*--------------------- ANIMATION --------------------------*/
@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
/*--------------------- REPONSIVE --------------------------*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #home-content {
    max-width: 300px; }

  #home-listing-group {
    max-width: 300px; }

  .block-image {
    height: 190px;
    width: 290px; }

  .footer-block2, .footer-block3 {
    display: none; }

  .footer-block1 {
    text-align: center; }

  .block-agent-info {
    width: 98%; } }
@media only screen and (max-width: 480px) {
  .footer-block2, .footer-block3 {
    display: none; }

  .footer-block1 {
    text-align: center; }

  #home-content {
    max-width: 300px; }

  #home-listing-group {
    max-width: 300px; }

  #home-info-action {
    display: none; }

  .group-img-link .link-block {
    width: 100%;
    height: 460px; }

  .link-block .link-info {
    height: 230px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 115px; }
    .link-block .link-info h3 {
      height: 115px;
      line-height: 115px; }

  .block-image {
    height: 190px;
    width: 290px; }

  .block-image {
    height: 190px;
    width: 290px; }

  .listings_results_column {
    padding: 10px 35px 20px 35px !important;
    width: 100%;
    float: left;
    margin: 0 auto; }

  .listings_map_column {
    position: relative;
    width: 100%;
    display: none; }
    .listings_map_column div {
      position: relative; }

  .listings_results_column {
    width: 100%;
    float: left; }

  .listings_results_column .search-listing-block {
    margin: 20px auto;
    float: none; }

  #header-nav, #page-header-nav, #page-header-nav {
    display: none; }

  #mobile-header-nav-icon {
    display: block; }

  #mobile-header-nav {
    display: none; }

  .block-agent-info {
    width: 98%;
    margin: 1%; }

  .view-toggle {
    display: none; }

  .search-action-group {
    width: 100%; }

  .mobile-search-toggle {
    display: inline-block;
    width: 5%;
    margin: 1%;
    vertical-align: top; }
    .mobile-search-toggle label {
      border: solid 1px #ccc;
      height: 49px;
      text-align: center;
      width: 100%;
      line-height: 48px;
      cursor: pointer; }

  .neighborh-search {
    width: 90%; }

  .bed-search, .price-search, .more-search {
    display: none;
    width: 100%;
    text-align: left; }

  .more-search .dropdown {
    position: none; }

  .dropdown {
    text-align: left;
    padding-left: 15px; }

  .more-search .popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3000; }

  .features-filters {
    max-height: 100%;
    width: 100%; }
    .features-filters img {
      display: block; } }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) and (min-width: 480px) {
  /* Styles */
  #home-content {
    max-width: 300px; }

  #home-listing-group {
    max-width: 300px; }

  #home-info-action {
    display: none; }

  .group-img-link .link-block {
    height: 360px; }

  .link-block .link-info {
    height: 180px;
    margin-top: 90px; }

  .block-image {
    height: 190px;
    width: 290px; }

  .footer-block2, .footer-block3 {
    display: none; }

  .footer-block1 {
    text-align: center; }

  .adress-action {
    display: none; }

  .listing-agent-info {
    max-width: 290px;
    max-height: 650px;
    margin: 0 auto;
    border: 1px solid #e7e8e7;
    background-color: #fff; }
    .listing-agent-info img {
      width: 290px;
      height: 290px;
      margin-left: 0px; }
    .listing-agent-info div.agent-image {
      padding: 0; }
    .listing-agent-info .listing-agent-detail {
      padding: 15px; }

  .contact-agent-mobile {
    display: block;
    cursor: pointer; }

  .listings_results_column {
    padding: 10px 35px 20px 35px !important;
    width: 100%;
    float: none;
    margin: 0 auto; }

  .listings_map_column {
    display: none; }

  .listings_results_column .search-listing-block {
    margin: 20px auto;
    float: none; }

  .block-agent-single {
    width: 95%; }

  .agent-single-listing {
    width: 400px; }

  .block-agent-single > div {
    text-align: center; }

  #header-nav, #page-header-nav, #page-header-nav {
    display: none; }

  #mobile-header-nav-icon {
    display: block; }

  #mobile-header-nav {
    display: none; }

  .block-agent-info {
    width: 48%;
    margin: 1%; }

  .view-toggle {
    display: none; }

  .search-action-group {
    width: 100%; }

  .mobile-search-toggle {
    display: inline-block;
    width: 5%;
    margin: 1%;
    vertical-align: top; }
    .mobile-search-toggle label {
      border: solid 1px #ccc;
      height: 49px;
      text-align: center;
      width: 100%;
      line-height: 48px;
      cursor: pointer; }

  .neighborh-search {
    width: 90%; }

  .bed-search, .price-search, .more-search {
    display: none;
    width: 100%;
    text-align: left; }

  .dropdown {
    text-align: left;
    padding-left: 15px; }

  .more-search .dropdown {
    position: none; }

  .more-search .popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3000; }

  .features-filters {
    max-height: 100%;
    width: 100%; }
    .features-filters img {
      display: block; } }
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .listings_results_column {
    padding: 10px 35px 20px 35px !important;
    width: 380px;
    float: left; }

  .listings_map_column {
    position: fixed;
    left: 380px;
    right: 0;
    top: 100px;
    bottom: 0;
    z-index: 100; }

  #home-content {
    max-width: 680px; }

  #home-listing-group {
    max-width: 680px; }

  #home-info-action h1 {
    width: 80%; }

  #home-info-action .group-button {
    width: 60%; }

  #home-info-link {
    width: 90%; }

  .home-listing-block {
    margin: 15px; }

  .block-image {
    height: 190px;
    width: 290px; }

  #header-nav, #page-header-nav, #page-header-nav {
    display: none; }

  #mobile-header-nav-icon {
    display: block; }

  #mobile-header-nav {
    display: none; }

  .block-agent-info {
    width: 31.3333%;
    margin: 1%; }

  .view-toggle {
    display: none; }

  .search-action-group {
    width: 100%; }

  .mobile-search-toggle {
    display: inline-block;
    width: 5%;
    margin: 1%;
    vertical-align: top; }
    .mobile-search-toggle label {
      border: solid 1px #ccc;
      height: 49px;
      text-align: center;
      width: 100%;
      line-height: 48px;
      cursor: pointer; }

  .neighborh-search {
    width: 90%; }

  .bed-search, .price-search, .more-search {
    display: none;
    width: 100%;
    text-align: left; }

  .more-search .dropdown {
    position: none; }

  .more-search .popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3000; }

  .dropdown {
    text-align: left;
    padding-left: 15px; }

  .features-filters {
    max-height: 100%;
    width: 100%; }
    .features-filters img {
      display: block; } }
@media only screen and (min-width: 1023px) and (max-width: 1224px) {
  #home-content {
    width: 680px; }

  #home-listing-group {
    max-width: 680px; }

  #home-info-action h1 {
    width: 60%; }

  #home-info-action .group-button {
    width: 40%; }

  #home-info-link {
    width: 90%; }

  .home-listing-block {
    margin: 15px; }

  .block-image {
    height: 190px;
    width: 290px; }

  .search_filter_secondary {
    padding: 10px 10px 10px 0px; }

  .listings_results_column {
    padding: 10px 35px 20px 15px !important;
    width: 680px;
    float: left; }

  .search-listing-block {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 25px; }

  .listings_map_column {
    position: fixed;
    left: 670px;
    right: 0;
    top: 100px;
    bottom: 0;
    z-index: 100; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #home-content {
    width: 1200px; }

  #home-listing-group {
    max-width: 1200px; }

  #home-info-action h1 {
    width: 60%; }

  #home-info-action .group-button {
    width: 40%; }

  #home-info-link {
    width: 85%; }

  .home-listing-block {
    margin: 15px; }

  .block-image {
    height: 380px;
    width: 570px; }

  .exclusive-text {
    max-width: 50%;
    margin: 0 auto; }

  .listings_results_column {
    padding: 10px 35px 20px 35px !important;
    width: 990px;
    float: left; }

  .listings_map_column {
    position: fixed;
    left: 970px;
    right: 0;
    top: 100px;
    bottom: 0;
    z-index: 100; }

  .block-agent-single {
    width: 1200px; }

  .agent-single-listing {
    width: 1200px; }

  .block-agent-info {
    border: 1px solid #e7e8e7;
    margin-bottom: 5px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    float: left;
    width: 23%;
    margin: 1%; } }
@media only screen and (max-height: 710px) {
  .listing-silder {
    height: 300px; } }
